*{
  box-sizing: border-box;
}
body{
  background: url("../img/starsinside.gif") no-repeat center center fixed;
  background-size: cover;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
section{
  width: 33%;
  margin: 230px 0 0 34%;
  padding: 50px;
  border: 9px;
  background: rgba(255,255,255, 0.7);
  border-style: solid double solid double;
  border-color: white;
  border-radius: 5px;
  font-family: cursive;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
}
input{
  margin-left: 10px;
  border-color: black;
  border-radius: 5px;
  padding: 5px;
}
button{
  margin:10px 0 0 35%;
  width: 30%;
  background: white;
  border: 2px;
  border-style: solid double solid double;
  border-color: black;
  border-radius: 5px;
}
button:hover{
  background: gold;
  cursor: pointer;
}
